.ko-fi-button-container {
    text-align: center;
    margin-top: 20px;
}

.ko-fi-button {
    background-color: #FFD6C0;
    color: #343434;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
